<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <h1><% if current_user%>
          <%= current_user%>
          <form action="<%= session_url %>" method="">
            <input type="hidden" name="_method" value="delete">
              <input type="button" name="logout!" value="Logout">
          </form>
        <% else %>
          <form action="<%= session_url %>" method="POST">
            <input type="button" name="login!" value="Login">
          </form>
        <% end %>
    </h1>
    <%= yield %>
  </body>
</html>
