<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <h1><% if user[username]%>
          <%= user[username]%>
          <input type="button" name="logout!" value="Logout">
        <% else %>
          <input type="button" name="login!" value="Login">
        <% end %>
    </h1>
    <%= yield %>
  </body>
</html>
